.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* APP Header */ 
.App-header .Logo{
  max-width: calc(100vw);
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0,0,0,.5);
}
.App-header .Logo img{
  align-self: center;
  width:80px;
  margin: 0 20px;
}
/* APP Header Nav */
.App-header .Logo nav ul{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style-type: none;
}
.App-header .Logo nav ul li{
  cursor: pointer;
  background-color: transparent;
  padding:10px;
  border-right: 1px solid rgba(0,0,0,.1);
  width: 100px;
}
.App-header .Logo nav ul li a{
  width: 100px;
  border-radius: 10px;
}
.App-header .Logo nav ul li:hover{
  box-shadow: 2px 1px 2px rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.05);
}
.App-header .Logo nav ul li a{color: black;}

